<h2 >
	<strong>Name:</strong>
	<%= @contact.name %>
</h2>
<table>
	<tr>
		<td class="styleblack"> <strong>Address:</strong></td>
		<td><%= @contact.address %></td>
	</tr> 
	<tr> 
		<td class="styleblack"><strong>Phone Number(s):</strong></td>
		<td><%= @contact.list_with_comma_number %> </td>
		<td><%= link_to 'Show phone_numbers', contact_phone_numbers_path(@contact) %></td>
	</tr> 
	<tr> 
		<td class="styleblack"><strong>Email(s):</strong></td>
		<td><%= @contact.list_with_comma_email %></td>
		<td><%= link_to 'Show emails', contact_emails_path(@contact) %></td>
	</tr> 

</table>

<br>
<%= link_to 'Back to Contacts', contacts_path %> |
<%= link_to 'Add a new phone number', new_contact_phone_number_path(@contact) %> |
<%= link_to 'Add a new email', new_contact_email_path(@contact) %>