<h1> Virgo's user Site </h1>

<dl>
	<% @users.each do |user| %>
		<dd>
			<%= user.name %> : <%= user.email %> 
			<%= link_to 'Edit', edit_user_path(user) %> |
			<%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: "Are you sure?"} %>
			<%= link_to 'Add an Auction', new_user_auction_path(user) %>
			<br> 
			<ul> 
				<% user.auctions.each do |auction| %>
				<li> <%= auction.item %> <%= link_to 'Show', user_auction_path(user, auction) %></li> 
				<% end %>
			</ul>
		</dd>
	<% end %>
</dl>
	
<br>

<p>
    <%= link_to 'New user', new_user_path %>

</p>