<% if flash[:errors] %>
  <% flash[:errors].each do |error_msg| %>
    <li><%= error_msg %></li>
  <% end %>
<% end %>

<%= form_for @book do |f| %>
      
      
    <div>    
      <h2>Information</h2>

          <p>
              <%= f.label :name %><br>
              <%= f.text_field :name %>
          </p>    
          <p>
              <%= f.label :description %><br>
              <%= f.text_area :description %>
          </p>
          <p>
              <%= f.label :price %><br>
              <%= f.text_area :price %>
          </p>

      <div><%= f.submit 'Save' %></div>

   </div>
 <% end %>

  <p>
      <%= link_to 'Back to Books', books_path%>
  </p>